<div ng-init="getBooksAuthorNotContains()">
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Authors</th>
                <th>Actions</th>
            </tr>
                <tr ng-if="AuthorsAddToBook.books.length > 0" ng-repeat="book in AuthorsAddToBook.booksAuthorNotContains">
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.description}}</td>
                    <td><span ng-repeat="author in book.authors">
                            {{author.name}}<span ng-if="$index < book.authors.length-1">,</span><br>
                        </span>
                    </td>
                    <td>
                        <div style="display: inline-block; vertical-align: center">
                            <button class="button" ng-click="addAuthorToBook(book.id, $index)" value="{{$index}}">ADD</button>
                        </div>
                    </td>
                    
                </tr>
            </span>
        </table>
    </div>
</div>