<div>
    <div>
        <table>
            <tr>
                <th>
                    <div style="display: inline-block; vertical-align: center">
                        Author
                        <button class="add-button" ng-click="goAddAuthor()" value="add">ADD</button>
                    </div>
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="author in Authors.authors">
                <td><a id="authorNameLink" href="#/authors/{{author.id}}"> {{ author.name }} </a></td>
                <td>
                    <div style="float: right">
                        <button class="button" ng-click="goAuthorEdit(author.id)" value="{{$index}}">EDIT</button>
                        <button class="button" ng-click="removeAuthor(author.id, $index)" value="{{$index}}">REMOVE</button>
                        <button class="button" ng-click="goAddAuthorToBook(author.id)" value="{{$index}}">ADD TO BOOK</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

