<div>
    <div>
        <div style="background-color: #333; padding: 10px; width: 100;">
            <h2 style="color: white;text-transform: uppercase;">AUTHORS</h2>
        </div>
        <table>
            <tr>
                <th>
                    <div style="display: inline-block; vertical-align: center">
                        Author
                    </div>
                </th>
                <th>
                    <div style="float: right;">
                        <button class="add-button" ng-click="goAddAuthor()" value="add">NEW</button>
                    </div>
                </th>
            </tr>
            <tr ng-repeat="author in Authors.authors">
                <td><a id="authorNameLink" href="#/authors/{{author.id}}"> {{ author.name }} </a></td>
                <td>
                    <div style="float: right">
                        <button class="button" ng-click="goAuthorEdit(author.id)" value="{{$index}}">EDIT</button>
                        <button class="button" ng-click="removeAuthor(author.id, $index)" value="{{$index}}">REMOVE</button>
                        <button class="button" ng-click="goAddAuthorToBook(author.id)" value="{{$index}}">ADD TO BOOK</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

